.primary_btn {
  border: none;
  outline: none;
  padding: 1rem 3rem;
  font-weight: bold;
  font-size: 3rem;
  border-radius: 100px;
  background: linear-gradient(to right, #3d75d6, #904f63);
  cursor: pointer;
  transition: all 0.2s ease-out;
  user-select: none;
  text-decoration: none;
  color: #fff;
}

.primary_btn:hover {
  background: linear-gradient(
    to right,
    rgba(61, 117, 214, 0.8),
    rgba(144, 79, 99, 0.8)
  );
}

@media (max-width: 500px) {
  .primary_btn {
    font-size: 1.8rem;
    padding: 1rem 2rem;
  }
}
