.card_container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2.8rem;
  align-items: center;
  justify-content: center;
}

.title {
  text-align: center;
  font-size: 6.8rem;
  color: transparent;
  background: linear-gradient(
    16deg,
    #00ffff 0,
    #4285f4 10%,
    #00ffff 30%,
    #4285f4 50%,
    #00ffff 70%,
    #4285f4 80%,
    #00ffff 90%,
    #4285f4 100%
  );
  background-clip: text;
}

.description {
  width: 70%;
  text-align: center;
  font-size: 1.8rem;
  margin: 1.8rem auto;
}

.sponser_title {
  padding: 3rem 0;
  font-size: 8rem;
  text-align: center;
  border-radius: 1rem;
  background: rgb(0, 208, 208);
  color: #15202b;
  margin: 2.8rem;
}

@media (max-width: 700px) {
  .description {
    width: 90%;
  }

  .sponser_title {
    font-size: 5.8rem;
    padding: 3rem 2rem;
  }
}

@media (max-width: 500px) {
  .description {
    width: 100%;
  }

  .title {
    text-align: center;
    font-size: 4.8rem;
  }

  .sponser_title {
    font-size: 3.8rem;
    padding: 2rem 1rem;
  }
}
